{% extends "base" %}
{% block items_content %}
<h1>Hi {{ name }}</h1>
<h2>All my stuff here: </h2>
<ul>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endblock items_content %}